<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>60948361193-m8q14p25ab9mjr54r0df7vskrrg5o7kk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.60948361193-m8q14p25ab9mjr54r0df7vskrrg5o7kk</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>60948361193-agppt57gb73mlb2b1h7mmii6m2n8a70c.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAUyNQ9r00rEwl4AYu9efh-2fOa5iDb7QE</string>
	<key>GCM_SENDER_ID</key>
	<string>60948361193</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.servinf.id.cuponixTendero</string>
	<key>PROJECT_ID</key>
	<string>activaciones</string>
	<key>STORAGE_BUCKET</key>
	<string>activaciones.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:60948361193:ios:532939f56a4801f9df6578</string>
	<key>DATABASE_URL</key>
	<string>https://activaciones.firebaseio.com</string>
</dict>
</plist>